.aui-header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 2.448rem;
}
.aui-header-item {
    height: 2.448rem;
    line-height: 2.448rem;
    min-width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    padding: 0 0.8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.3rem;
    white-space: nowrap;
    overflow: hidden;
    color: #5C5C5C;
}
.aui-header-center-clear {
    width: 100%;
    margin-left: 13%;
}
.aui-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
}
.aui-header-center {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 2.448rem;
    line-height: 2.448rem;
    width: 50%;
    margin-left: 25%;
    font-size: 16px;
}
.aui-invitation-bg {
    background-size: 100%;
    height: 166px;
    margin-top: -10rem;
}
.aui-header-item-icon {
    height: 2.3rem;
    min-width: 19%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 13%;
    -ms-flex: 0 0 13%;
    flex: 0 0 13%;
    padding: 0 0.8rem 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.3rem;
    white-space: nowrap;
    overflow: hidden;
    color: #5C5C5C;
}
.kong{
	width:100%;
	height:0.448rem;
}                                                                                                                                