<!--最外层容器-->
<div class="shantu"><img src="images/ny/w_02.png" alt="" /></div>
<div class="mine_header_text" ng-hide="visible">向下滑动，发现新世界 <span ng-click="myVar()">×</span></div>
<div class="mine_box">
	
	<!--头部-->
	<div class="mine_header">
		<i class="iconfont icon-set"></i>
		<div></div>
		<i class="iconfont icon-comments" ng-click="xiao()"></i>
	</div>
	<!--头像资料-->
	<div class="mine_header_zl">
		<!--头像框-->
		<div class="header_zl_left" ng-click="tou()">
			<img src="images/u.jpg" alt="" />
		</div>
		<div class="header_zl_center">
			<div>
				<span>ConfigServer</span>
				<p class="p"><i class="iconfont icon-account"></i>实名认证享安全</p>
			</div>
			<div>
				<p>关注    <span>0</span></p>
				<p>粉丝    <span>0</span></p>
			</div>
		</div>
		<div class="header_zl_right">
			<i class="iconfont icon-more"></i>
		</div>
	</div>
	<!--导航-->
	<nav>
		<ul>
			<li>
				<i class="iconfont icon-favorites"></i>
				<p>关注</p>
			</li>
			<li>
				<i class="iconfont icon-favorite1"></i>
				<p>收藏</p>
			</li>
			<li>
				<i class="iconfont icon-icon"></i>
				<p>足迹</p>
			</li>
		</ul>
	</nav>
	<!--我的订单-->
	<div class="mine_menu">
		<div class="mine_menu_top">
			<p><a href="temp/order.html">我的订单</a></p>
			<p><a href="javascript:;">查看全部订单 <i class="iconfont icon-more"></i></a></p>
		</div>
		<div class="mine_submenu">
			<ul>
				<li>
					<a href="javascript:;">
						<i class="iconfont icon-rejectedorder"></i>
					<p>待付款</p></a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont icon-auto"></i>
					<p>待发货</p></a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont icon-survey1"></i>
					<p>待收款</p></a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont icon-success"></i>
					<p>待评价</p></a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont icon-trade"></i>
					<p>售后</p></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="mine_conts">
		<ul>
			<li>
				<a href="javascript:;">
					<i class="iconfont icon-supplierfeatures" style="color: #FF5895;"></i>
					<p>我的拼团</p></a>
			</li>
			<li>
				<a href="javascript:;">
					<i class="iconfont icon-save" style="color: orange;"></i>
					<p>我的钱包</p></a>
			</li>
			<li>
				<a href="javascript:;">
					<i class="iconfont icon-calendar" style="color: #FF5895;"></i>
					<p>优惠券</p></a>
			</li>
			<li>
				<a href="javascript:;">
					<i class="iconfont icon-wxbmingxingdianpu" style="color: #FF5895;"></i>
					<p>分期商城</p></a>
			</li>
			<li>
				<a href="javascript:;">
					<i class="iconfont icon-trade-assurance" style="color: orange;"></i>
					<p>会员中心</p></a>
			</li>
			<li>
				<a href="javascript:;">
					<i class="iconfont icon-rfqquantity" style="color: green;"></i>
					<p>魔豆商城</p></a>
			</li>
			<li>
				<a href="javascript:;">
					<i class="iconfont icon-mobilephone" style="color: #7563FF;"></i>
					<p>充值中心</p></a>
			</li>
			<li>
				<a href="javascript:;">
					<i class="iconfont icon-service" style="color: #57A5FF;"></i>
					<p>客服与帮助</p></a>
			</li>
			<li>
				<a href="javascript:;">
					<i class="iconfont icon-survey1" style="color: #57A5FF;"></i>
					<p>意见反馈</p></a>
			</li>
			<li>
				<a href="javascript:;">
					<i class="iconfont icon-viewgallery" style="color: #57A5FF;"></i>
					<p>生活助手</p></a>
			</li>
			<li>
				<a href="javascript:;">
					<i class="iconfont icon-toys" style="color: red;"></i>
					<p>美丽抓娃娃</p></a>
			</li>
		</ul>
	</div>
</div>